img {
  display: inline-block;
}

#img-0 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;
}

#img-1 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-2 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-3 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-4 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-5 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-6 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-7 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-8 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-9 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-10 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;
}

#img-11 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-12 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-13 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-14 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-15 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-16 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-17 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-18 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-19 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-20 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-21 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-22 {
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}