img {
  display: inline-block;
}

#img-0 {
height: 500px;
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;
}

#img-1 {
height: 250px;  
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-2 {
height: 500px;  
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-3 {
height: 250px;   
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-4 {
height: 500px;  
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-5 {
height: 250px;   
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-6 {
height: 500px;  
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-7 {
height: 250px;   
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-8 {
height: 500px;  
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-9 {
height: 250px;   
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-10 {
height: 500px;  
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;
}

#img-11 {
height: 250px;   
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-12 {
height: 500px;  
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-13 {
height: 250px;   
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-14 {
height: 500px;  
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-15 {
height: 250px;   
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-16 {
height: 500px;  
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}

#img-17 {
height: 250px;   
top: 50px;
bottom: 50px;
left: 50px;
right: 50px;  
}